@{
    ViewData["Title"] = "H O M E";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Calculadora em MVC V1.0</h1>
    <p>Para ver mais acesse <a href="https://github.com/fernando-fraga">meu perfil no GitHub</a>.</p>
</div>
